# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nbbuild/
nbproject/
dist/
nbdist/
.nb-gradle/
*.tmp
/.nb-gradle/
.classpath
.project
.nb-gradle-properties
bin/
.settings/